html {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgreen;
    position: relative;
    background-image: url('../Images/header_bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
}

#edument-logo {
    position: absolute;
    top: 4px;
    left: 350px;
}

header {
    height: 120px;
    background-color: green;
    position: fixed;
    top: 0;
    background-image: url('../Images/pool_table_felt.jpg');
    background-size: cover;
    width: 100%;
    z-index: 100;
    box-shadow: 1px 1px 1px #333;
    /*border-bottom: 9px solid blanchedalmond;*/
}

header h1 {
    position: absolute;
    left: 820px;
    margin: 0;
    text-align: center;
    font-size: 60px;
    line-height: 105px;
    color: blanchedalmond;
    text-shadow: 1px 1px 10px #333;
    white-space: nowrap;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 340px;
}

.scoreboard {
    background-color: #fff;
    border: 2px solid #fff;
    margin-top: 20px;
    font-size: 22px;
}

.scoreboard td, .scoreboard th {
    border-left: 1px solid #333;
    text-align: center;
}
.medal {
    height: 150px;
    display: inline-block;
}

.player-wrapper {
    background-color: brown;
    position: relative;
    padding: 20px 25px;
    border-radius: 60px;
    border: 3px solid gold;
}

.eightball {
    position: absolute;
    top: 110px;
    left: 200px;
}

.eightball input {
    height: 50px;
    width: 50px;
}

.eightball-radio-btn {
    position: absolute;
    top: -27px;
    left:70px;
    height: 80px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    cursor: pointer;
    transition: 0.1s;
}



.active-eightball {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
}

.styled-select select {
    position: absolute;
    top: 25px;
    left: 150px;
    width: 60%;
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(../Images/arrow-down.png) no-repeat 98% center;
    background-size: 30px;
    font-weight: bold;
    font-size: 16px;
    text-indent: 0.01px;
    -moz-text-overflow: "";
    text-overflow: "";
    color: #333;
    border-radius: 0;
    padding: 5px;
}

.submit-btn {
    width: 320px;
    font-size: 40px !important;
    margin-top: 15px;
    color: blanchedalmond;
    text-shadow: 1px 1px 10px #333;
    background: url('../Images/pool_table_felt.jpg') no-repeat center;
}

.submit-btn:hover {
    color: #fff;
    box-shadow: 1px 1px 10px darkgreen;
    background: url('../Images/pool_table_felt.jpg');
}

.winner-highlight {
    background-color: #008080 !important;
}

.loser-highlight {
    background-color: silver !important;
}

.intersect-highlight {
    background-color: #d2691e !important;
}

.player-stats {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-top-left-radius: 80px; 
    border-bottom-right-radius: 80px;
    border: 5px solid #333;
    margin-top: 35px;
}

.player-stats h1 {
    font-size: 45px
}

.player-compare-table {
    font-size: 40px;
}